*{
	text-decoration: none;
	margin: 0px;
	padding: 0px;	
}*
body{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans',sans-serif;
}
nav .div-content {
	width: auto;
	position: relative;
	background-color: #000;
	padding: 40px;
	margin-top: -1%;
}	


.logo a{
	font-size: 40px;
	font-weight: bold;
	float: left;
	font-family: courier;
	color: blue;
	margin: -1%;
}
.menu{
	float: right;
}
.nav{
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 80px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background: #ffffff;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li{
	float: left;
}
nav ul li a{
	color: #eee;
	font-weight: bold;
	position: center;
	padding: 0px 16px 0px 16px;
	text-decoration: none;
}
nav ul li a:hover{
	text-decoration: underline;
}
main{
	display: inline-grid;
	grid-template-columns: auto auto auto;
	background-color: #eee;
	padding: 10px;
}
.article{
	border: 1px solid;
	margin: 1%;
	padding: 1%;
	width: auto;
}
.img{
	height: auto; 	
	width: 100%;
	border-radius: 10%;
}
section{
	border: 1px solid;
	background-color: black;
	text-align: center;
	color: white;
	margin: auto;
	padding: 10px;
}
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
	text-align: center;
	background-color: black;
}
footer i{
	color: #ffffff;
}
@media screen and (max-width: 991.98px){
	.content{
		width: 90%;
	}
}