@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;800&display=swap');
*{
    margin                : 0px;
    padding               : 0px;
    box-sizing            : border-box;
    font-family           : 'poppins', sans-serif;
    text-align            : center;
    color                 : #FFFFFF;
    line-height           : 1.5;
    letter-spacing        : ipx;
}
body{
    background-color      : #4e4e4e;
    margin                : 0px;
    padding               : 0px;
}
ul{
    list-style            : none;
}
a{
    text-decoration       : none;
} 
section{
    width                 : 100%;
    height                : 105vh;
    position              : relative;
}
nav{
    display               : flex;
    justify-content       : space-between;
    align-items           : center;
    height                : 60px;
    background-color      : #d0d0d0;
    box-shadow            : 2px 2px 12px rgba(0,0,0,0.2);
    padding               : 0px 5%;
}
nav ul{
    display               : flex;
} 
nav ul li a{
    margin                : 30px;
    font-family           : myriad pro regular;
    color                 : #505050;
    font-size             : 15px;
    font-weight           : 700;
}
.active{
    color                 : #2d2a2a;
    font-weight           : bold;
}
.wrapper{
    min-height            : 100vh;
    width                 : 100%;
    background-image      : url(https://swall.teahub.io/photos/small/187-1876145_pc-gaming-keyboard-monitor-computer-pc-gamer.jpg);
    background-position   : center;
    background-repeat     : no-repeat;
    background-size       : cover;
}
.testimonial{
    padding               : 30px 100px;
}
article h1{
    font-size             : 50px;
    font-weight           : 800;
    text-transform        : uppercase;
    letter-spacing        : 1.5px;
}
article h1:after{
    height                : 5px;
    width                 : 225px;
    background-color      : #FFFFFF;
    display               : block;
    margin                : auto;
}
article img{
    height                : 200px;
    width                 : 200px;
    border                : 2px solid #FFFFFF;
    border-radius         : 50%;
    margin-top            : 60px;
}
article h5{
    text-transform        : uppercase;
    font-size             : 28px;
    margin-top            : 30px;
    letter-spacing        : 1.5px;
}
article p{
    font-size             : 17px;
}
footer p{
    font-family           : calibri;
}
footer p:nth-child(1){
    font-size             : 30px;
    font-weight           : bold;
    color                 : #FFFFFF;
    line-height           : 50px;
}
footer p:nth-child(2){
    font-size             : 16px;
    color                 : #7e7d7d;
    width                 : 600px;
    text-align            : center;
}
footer{
    height                : 150px;
    display               : flex;
    flex-direction        : column;
    align-items           : center;
    justify-content       : center;
    position              : relative;
    background-color      : #191919;
}
.social-icons a{
    width                 : 40px;
    height                : 40px;
    display               : flex;
    justify-content       : center;
    align-items           : center;
    background-color      : #e6e3e3;
    margin                : 20px 10px;
    border-radius         : 50%;
}
.social-icons{
    display               : flex;
}
.social-icons i{
    color                 : #000000;
}
.social-icons a:hover{
    background-color      : #000000;
    box-shadow            : 2px 2px 12px rgba(0,0,0,0.2);
    transition            : all ease 0.5s;
}
.social-icons a:hover i{
    color                 : #FFFFFF;
    transition            : all ease 0.5s;
} 
.copyright{
    color                 : #565555;
    font-size             : 15px;
    position              : absolute;
    left                  : 50%;
    bottom                : 10px;
    transform             : translateX(-50%);
}
@media screen and (max-width: 600px) {
.column, input[type=submit] {
    width                 : 100%;
    margin-top            : 0;
    }
}