body{
    background-color    : #FFFFFF;
    margin              : 0px;
    padding             : 0px;
}
ul{
    list-style          : none;
}
a{
    text-decoration     : none;
} 
section{
    width               : 100%;
    height              : 105vh;
    position            : relative;
}
nav{
    display             : flex;
    justify-content     : space-between;
    align-items         : center;
    height              : 60px;
    background-color    : #ffffff;
    box-shadow          : 2px 2px 12px rgba(0,0,0,0.2);
    padding             : 0px 5%;
     
}
nav ul{
    display             : flex;
} 
nav ul li a{
    margin              : 30px;
    font-family         : myriad pro regular;
    color               : #505050;
    font-size           : 15px;
    font-weight         : 700;
}
.active{
    color               : #2d2a2a;
    font-weight         : bold;
}
.model{
    height              : 450px;
    width               : 25%;
    position            : absolute;
    bottom              : 60px;
    left                : 80%;
    transform           : translateX(-70%);
}
*{
    margin              : 0;
    padding             : 0;
    outline             : 0;
    box-sizing          : border-box;
}
input[type=text], select, textarea {
    width               : 100%;
    padding             : 12px;
    border              : 1px solid #ccc;
    margin-top          : 6px;
    margin-bottom       : 16px;
    resize              : vertical;
}
input[type=submit] {
    background-color    : #4CAF50;
    color               : white;
    padding             : 12px 20px;
    border              : none;
    cursor              : pointer;
}
input[type=submit]:hover {
    background-color    : #45a049;
}
.container {
    border-radius       : 5px;
    background-color    : #f2f2f2;
    padding             : 10px;
}
.column {
    float               : left;
    width               : 50%;
    margin-top          : 6px;
    padding             : 20px;
}
.row:after {
    content             : "";
    display             : table;
    clear               : both;
}
footer p{
    font-family         : calibri;
}
footer p:nth-child(1){
    font-size           : 30px;
    font-weight         : bold;
    color               : #FFFFFF;
    line-height         : 50px;
}
footer p:nth-child(2){
    font-size           : 16px;
    color               : #7e7d7d;
    width               : 600px;
    text-align          : center;
}
footer{
    height              : 150px;
    display             : flex;
    flex-direction      : column;
    align-items         : center;
    justify-content     : center;
    position            : relative;
    background-color    : #191919;
}
.social-icons a{
    width               : 40px;
    height              : 40px;
    display             : flex;
    justify-content     : center;
    align-items         : center;
    background-color    : #e6e3e3;
    margin              : 20px 10px;
    border-radius       : 50%;
}
.social-icons{
    display             : flex;
}
.social-icons i{
    color               : #000000;
}
.social-icons a:hover{
    background-color    : #000000;
    box-shadow          : 2px 2px 12px rgba(0,0,0,0.2);
    transition          : all ease 0.5s;
}
.social-icons a:hover i{
    color               : #FFFFFF;
    transition          : all ease 0.5s;
} 
.copyright{
    color               : #565555;
    font-size           : 15px;
    position            : absolute;
    left                : 50%;
    bottom              : 10px;
    transform           : translateX(-50%);
}
@media screen and (max-width: 600px) {
.column, input[type=submit] {
    width               : 100%;
    margin-top          : 0;
    }
}