body{
  background-image    : url(https://c1.wallpaperflare.com/preview/427/745/192/notebook-natural-laptop-macbook.jpg);
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : 100% ;
  margin              : 0px;
  padding             : 0px;
}
ul{
  list-style          : none;
}
a{
  text-decoration     : none;
} 
section{
  width               : 100%;
  height              : 100vh;
  position            : relative;
}
nav{
  display             : flex;
  justify-content     : space-between;
  align-items         : center;
  height              : 60px;
  background-color    : #d0d0d0;
  box-shadow          : 2px 2px 12px rgba(0,0,0,0.2);
  padding             : 0px 5%;
   
}
nav ul{
  display             : flex;
} 
nav ul li a{
  margin              : 30px;
  font-family         : myriad pro regular;
  color               : #505050;
  font-size           : 15px;
  font-weight         : 700;
}
.active{
  color               : #2d2a2a;
  font-weight         : bold;
}
.text-container p:nth-child(1){
  font-family         : calibri;
  font-weight         : bold;
  color               : #ffffff;
  font-size           : 25px;
}
.text-container p:nth-child(2){
  font-family         : calibri;
  font-weight         : bold;
  letter-spacing      : 2px;
  color               : #000000;
  font-size           : 60px;
}
.text-container p:nth-child(3){
  font-family         : myriad pro regular;
  color               : #9b9a9a;
  font-size           : 30px;
  line-height         : 30px;
}
.text-container p{
  line-height         : 0px;
  margin              : 55px 0px 25px;
}
.text-container{
  position            : absolute;
  left                : 13%;
  top                 : 40%;
  transform           : translate(-13%, -42%);
}
.text-container button{
  width               : 130px;
  height              : 42px;
  border-radius       : 10px;
  font-family         : calibri;
  font-weight         : bold;
  font-size           : 14px;
  outline             : none;
  margin              : 0px 10px;
}
.model{
  height              : 400px;
  width               : 40%;
  position            : absolute;
  bottom              : 60px;
  left                : 80%;
  transform           : translateX(-70%);
}
footer p{
  font-family         : calibri;
}
footer p:nth-child(1){
  font-size           : 30px;
  font-weight         : bold;
  color               : #FFFFFF;
  line-height         : 50px;
}
footer p:nth-child(2){
  font-size           : 16px;
  color               : #7e7d7d;
  width               : 600px;
  text-align          : center;
}
footer{
  height              : 150px;
  display             : flex;
  flex-direction      : column;
  align-items         : center;
  justify-content     : center;
  position            : relative;
  background-color    : #191919;
}
.social-icons a{
  width               : 40px;
  height              : 40px;
  display             : flex;
  justify-content     : center;
  align-items         : center;
  background-color    : #e6e3e3;
  margin              : 20px 10px;
  border-radius       : 50%;
}
.social-icons{
  display             : flex;
}
.social-icons i{
  color               : #000000;
}
.social-icons a:hover{
  background-color    : #000000;
  box-shadow          : 2px 2px 12px rgba(0,0,0,0.2);
  transition          : all ease 0.5s;
}
.social-icons a:hover i{
  color               : #FFFFFF;
  transition          : all ease 0.5s;
} 
.copyright{
  color               : #565555;
  font-size           : 15px;
  position            : absolute;
  left                : 50%;
  bottom              : 10px;
  transform           : translateX(-50%);
}